.App {
  height: 100vh;
  width: 100%;
}

.OptionsContainer {
  position: absolute;
  width: 25%;
  height: 80vh;
  margin-top: 5%;
  z-index: 9999;
  background-color: white;
  border-radius: 25px;
}