.vehicle-dropdown {
    width: 100%;
    margin: 5px;
}

.vehicle-dropdown-toggle {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vehicle-dropdown-select {
    max-height: 400px ;
    overflow: auto ;
    transform: none;
}

.btn.disabled:hover {
    transform: none;
    box-shadow: none;
}

.btn.disabled {
    color: #d4d4d4 !important;
}